*,
::before,
::after{
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: white;
}

body {
margin: 0;
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-variation-settings:
"slnt" 0;
height: 100vh;
padding: 4rem 1rem;
}

.container{

background-color: lightgray;
padding: 1rem;
margin: 0 auto;
border-radius: 1rem;
}
    
#title{
text-align: center;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form{
display: flex;

flex-direction: column;
justify-content: center;
align-items: center;
gap: 0.5rem;
}
    
    #form-btn{
    padding: 0.5rem;
    width: 10rem;
    background-color: #374151;
    font-family: "Inter", sans-serif;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin: 0.5rem 0;
    }

    #logout-btn{

  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #374151;
  color: #eef2ff;
  transition: background 0.2s ease-in;
  width: 8rem;
    }

    #logout-btn:hover{
        background-color: #4f46e5;
    }

    #form-btn:disabled{
        background-color: rgb(165, 165, 165);
      }

    #input-name{
        margin-inline: 1rem;
        border-width: 2px;
        border-radius: 2px;
        font-family: "Inter", sans-serif;
      }
      
      #input-number{
        margin-inline: 1rem;
        border-width: 2px;
        border-radius: 2px;
        font-family: "Inter", sans-serif;
      }
      

    .form-input-container{
        display: flex;
        margin-top: 0.5rem;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      label {
        display: none;
      }

#list{
    background-color:white ;
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    padding-left: 0;
    overflow:auto;
    scroll-behavior: smooth;
    height: 15rem;
    padding: 0;
      }
    
    #list::-webkit-scrollbar {
        width: 8px;
    }
    
    
    
    #list::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
        transition: all 0.175s ease-in-out;
        
        
    }
    
    #list::-webkit-slider-thumb:hover{
        background-color: #374151;
    }
    
    #list::-webkit-scrollbar-track {
        border-radius: 20px;  
    }
    
      

      

.info{
    display: none;
    font-size: 0.6rem;
    color: gray;
    margin-bottom: 0;

}

.edit-btn{
    background-color: transparent;
    transition: all 0.175s ease-in-out;
    color: #374151;
    cursor: pointer;
}

.edit-btn:active{
    background-color: #374151 ;
    color: white;
    
}


.delete-btn{
    background-color: transparent;
    transition: all 0.175s ease-in-out;
    color: red;
    cursor: pointer;
}

.delete-btn:active{
    background-color: red;
    color: white;
    
}


.delete-icon {
    width: 2rem;
    height: 2rem;
    
}

.edit-icon {
    width: 2rem;
    height: 2rem;
    
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    width: 100%; 
    text-align: left;
    font-size: 12px;
    border-bottom: 1px solid black;
    
}

.form-input{
    outline: none;
}

.form-input:focus{
    outline: none;
}

.correct, .correct:focus{
    outline: 2px solid green;
}

.incorrect, .incorrect:focus {
    outline: solid red;
}

.show{
    display: flex;
}

.border-edit {
    outline: 2px solid #374151;
}

.border-edit:focus {
    outline: 2px solid #374151;
    
}

.edit-error {
    text-decoration: underline red;
}

@media (min-width: 768px){
    .container{
        width: 75%;
    }
}

@media (min-width: 1024px){
    .container{
        width: 50%;
    }

    .contact{
        font-size: 16px;
    }
}

@media (min-width: 2560px){
    .container{
        width: 50%;
        height: 50vh;

    }

    #list{
        height: 20rem;
    }

    .contact{
        font-size: 20px;
    }

    body{
        padding-top: 20rem
    }
    
}